### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [126]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into PandaAs data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [127]:
players_count = len(purchase_data_df["SN"].unique())
pd.DataFrame({"Total_Number_of_Players": [players_count]})

   Total_Number_of_Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [128]:
Unique_items = len(df['Item ID'].unique())
Average_price = round(float(df['Price'].mean()),2)
Purchase_number = len(df['Item ID'])
Total_Revenue = float(df['Price'].sum())

summary_df = pd.DataFrame({"Number of Unique Items": [Unique_items],
                              "Average Price": '$' + str(Average_price),
                              "Number of Purchases": [Purchase_number],
                              "Total Revenue": '$' + str(Total_Revenue)})

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [151]:
Gender = purchase_data_df.groupby("Gender")
Total_Gender = Gender.nunique()["SN"]
Percentage = round((Total / players_count * 100),2)

Total_Count_df = pd.DataFrame(Total_Gender)
Percentage_df = pd.DataFrame(Percentage)

Gender_Demographics_df = Total_Count_df.merge(Percentage_df, left_index = True, right_index = True)
Gender_Demographics_df.columns = ['Total Count', 'Percentage of Players']


Gender_Demographics_df

                       Total Count  Percentage of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [148]:
Purchase_Count = Gender["Purchase ID"].count()
Average_Purchase_Price = round(Gender["Price"].mean(),2)
Total_Purchase_Value = round(Gender["Price"].sum(),2)
Average_Total_Per_Person = round(Total_Purchase_Value / Total_Gender, 2)

Purchasing_Analysis_df = pd.DataFrame({"Purchase Count": Purchase_Count, 
                           "Average Purchase Price": Average_Purchase_Price,
                           "Total Purchase Value": Total_Purchase_Value,
                           "Average Total Per Person": Average_Total_Per_Person})

Purchasing_Analysis_df.style.format({"Average Purchase Price":"${:.2f}",
                                    "Total Purchase Value":"${:.2f}",
                                    "Average Total Per Person":"${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [166]:
Age_Bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
Age_Bins_Labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_df["Age Groups"] = pd.cut(purchase_data_df["Age"], Age_Bins, labels=Age_Bins_Labels)

Age_Groups = purchase_data_df.groupby("Age Groups")
Total_Age_Count = Age_Groups.nunique()["SN"]
Player_Percentage = Total_Age_Count / players_count * 100

Age_Demographics = pd.DataFrame({"Percentage of Players": Player_Percentage,
                                "Total Count": Total_Age_Count})
Age_Demographics.style.format({"Percentage of Players":"{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [168]:
Purchase_Count2 = Age_Groups["Purchase ID"].count()
Average_Purchase_Price2 = round(Age_Groups["Price"].mean(),2)
Total_Purchase_Value2 = round(Age_Groups["Price"].sum(),2)
Average_Total_Purchase_Per_Person2 = Total_Purchase_Value2/Total_Age_Count

Purchasing_Analysis_Age = pd.DataFrame({"Purchase Count": Purchase_Count2,
                                       "Average Purchase Price": Average_Purchase_Price2,
                                       "Total Purchase Value": Total_Purchase_Value2,
                                       "Avg Total Purchase per Person": Average_Total_Purchase_Per_Person2})

Purchasing_Analysis_Age.style.format({"Average Purchase Price": "${:.2f}",
                                        "Total Purchase Value": "${:.2f}",
                                        "Avg Total Purchase per Person": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [181]:
Spenders_data = purchase_data_df.groupby("SN")

Purchase_Count_3 = Spenders_data["Purchase ID"].count()
Average_Purchase_Price3 = round(Spenders_data["Price"].mean(),2)
Total_Purchase_Value3 = round(Spenders_data["Price"].sum(),2)

Top_Spenders = pd.DataFrame({"Purchase Count": Purchase_Count_3,
                            "Average Purchase Price": Average_Purchase_Price3,
                            "Total Purchase Value": Total_Purchase_Value3})

Top_Spenders.sort_values(["Total Purchase Value"], ascending=False).head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [207]:
Items = purchase_data_df.groupby(["Item ID", "Item Name"])

Purchase_Count4 = Items["Price"].count()
Total_Purchase_Value = Items["Price"].sum()
Item_Price = round(Total_Purchase_Value/Purchase_Count4,2)


Most_Popular_Items = pd.DataFrame({"Purchase Count": Purchase_Count4,
                                  "Item Price": Item_Price,
                                  "Total Purchase Value": Total_Purchase_Value})

Most_Popular_Items.style.format({"Item Price":"${:.2f}",
                                "Total Purchase Value":"${:.2f}"})

Most_Popular_Items.sort_values(["Purchase Count"], ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [200]:
Most_Popular_Items.sort_values(["Total Purchase Value"], ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80